<?xml version='1.0' encoding='utf-8'?>
<widget 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="com.github.dataserver.despesas" 
    version="6" 
>
    <name>Monthly bills checker</name>
    <description>
        Monthly bills checker
    </description>
    <author email="dataserver@users.noreply.github.com" href="http://dataserver.github.io">
        dataserver
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="*" />
    <preference name="KeyboardDisplayRequiersUserAction" value="false"/>
    <plugin name="cordova-plugin-whitelist" spec="1.3.3" source="npm" />
    <plugin name="cordova-sqlite-evcore-extbuild-free" spec="0.9.10" source="npm" />
    <plugin name="cordova-plugin-barcodescanner" spec="0.7.4" source="npm" />
    <platform name="android">
        <!-- you can use any density that exists in the Android project -->
        <splash src="res/screen/android/drawable-land-hdpi/screen.png" density="land-hdpi"/>
        <splash src="res/screen/android/drawable-land-ldpi/screen.png" density="land-ldpi"/>
        <splash src="res/screen/android/drawable-land-mdpi/screen.png" density="land-mdpi"/>
        <splash src="res/screen/android/drawable-land-xhdpi/screen.png" density="land-xhdpi"/>
        <splash src="res/screen/android/drawable-land-xxhdpi/screen.png" density="land-xxhdpi"/>
        <splash src="res/screen/android/drawable-land-xxxhdpi/screen.png" density="land-xxxhdpi"/>

        <splash src="res/screen/android/drawable-hdpi/screen.png" density="port-hdpi"/>
        <splash src="res/screen/android/drawable-ldpi/screen.png" density="port-ldpi"/>
        <splash src="res/screen/android/drawable-mdpi/screen.png" density="port-mdpi"/>
        <splash src="res/screen/android/drawable-xhdpi/screen.png" density="port-xhdpi"/>
        <splash src="res/screen/android/drawable-xxhdpi/screen.png" density="port-xxhdpi"/>
        <splash src="res/screen/android/drawable-xxxhdpi/screen.png" density="port-xxxhdpi"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>
    </platform>
    <icon src="res/screen/android/drawable-ldpi/icon.png" platform="android" qualifier="ldpi" />
    <icon src="res/screen/android/drawable-mdpi/icon.png" platform="android" qualifier="mdpi" />
    <icon src="res/screen/android/drawable-hdpi/icon.png" platform="android" qualifier="hdpi" />
    <icon src="res/screen/android/drawable-xhdpi/icon.png" platform="android" qualifier="xhdpi" />
    <icon src="res/screen/android/drawable-xxhdpi/icon.png" platform="android" qualifier="xxhdpi" />
    <icon src="res/screen/android/drawable-xxxhdpi/icon.png" platform="android" qualifier="xxxhdpi" />

</widget>
